<main class="main__container">
  <setion class="grid__container">
    <article class="grid__item-1">
      <div class="main__texture">
        <h1 class="main__title">We love books.</h1>
      </div>
    </article>
    <article class="grid__item-2">
      <!-- <h1><span>small</span> details <span>make</span> great <span>projects</span></h1> -->
    </article>
    <article class="grid__item-3"></article>
    <article class="grid__item-4"></article>
    <article class="grid__item-5"></article>
    <article class="grid__item-6"></article>
  </setion>
</main>
