<main class="main__container">
  <setion class="grid__container">
    <article class="grid__item-1"></article>
    <h1 class="grid__item-1">"Small details make great projects".</h1>
    <article class="grid__item-2">
      <!-- <h1><span>small</span> details <span>make</span> great <span>projects</span></h1> -->
    </article>
    <article class="grid__item-3"></article>
    <article class="grid__item-4"></article>
    <article class="grid__item-5"></article>
    <article class="grid__item-6"></article>
  </setion>
</main>
