<main class="main__container">
  <setion class="grid__container">
    <article class="grid__item-1">
      <div class="main__texture">
        <h1 class="main__title">We love books.</h1>
      </div>
    </article>
    <article class="grid__item-2">
      <p class="main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illum quia repellat fuga enim ducimus possimus vitae, at laboriosam laborum eum nesciunt in magni ea repudiandae, sunt ipsam necessitatibus excepturi!</p>
      <div class="img__container">
        <img src="./assets/images/book2.jpg" alt="book" class="main__img"/>
      </div>
    </article>
    <article class="grid__item-3">
      <h2 class="main__slogan">"Small details make great projects".</h2 class="main__slogan">
    </article>
    <article class="grid__item-4">
      <p class="main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi non cum iure, ipsam repellat nostrum unde, nihil voluptate quos accusamus earum cumque, quae officia. Odio temporibus reprehenderit nihil accusamus nemo.</p>
      <div class="img__container">
        <img src="./assets/images/book4.jpg" alt="book" class="main__img"/>
      </div>
    </article>
    <article class="grid__item-5">
      <img src="./assets/images/book1.jpg" alt="book"/>
    </article>
  </setion>
  <a href="#top">
  <button class="main__button">Go to top</button>
</a>
</main>
