.footer {
  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
  &__credits {
    display: flex;
    flex-direction: column;
  }
  &__socialmed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 4.5rem;
  }
  &__item {
    list-style: none;
  }
  &__img {
    width: 2rem;
  }
}

// responsive

@media all and (max-width: 320px) {
  .footer {
    &__credits {
      font-size: 0.8rem;
    }
  }
}
