.header {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 6rem;
    position: relative;
    z-index: +1;
    &:hover {
      cursor: pointer;
    }
  }
  &__logo-bg {
    width: 4rem;
    animation: translate 1s infinite alternate;
  }
}

.logo {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu {
  &__img {
    height: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__container {
    width: 40vw;
    font-weight: bolder;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__link {
    padding-left: 1rem;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $red;
    }
  }
}

// responsive

@media all and (max-width: 767px) {
  .header {
    &__container {
      padding: 0 0.5rem;
      font-size: 0.75rem;
    }
    &__menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &__logo {
      width: 4rem;
    }
  }
}

// animation

@keyframes translate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
