@import 'core/variables';
@import 'core/reset';
@import 'layout/main';
@import 'layout/header';
@import 'layout/footer';

.page {
  &__container {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
