@import 'core/variables';
@import 'core/reset';
@import 'layout/main';
@import 'layout/header';
@import 'layout/footer';

.page {
  &__container {
    font-family: $mainFont;
    background: linear-gradient(0deg, #dedee0 54%, #bdbdbd 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
